<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Meta tags -->
    <link
            crossorigin="anonymous"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            rel="stylesheet"
    >
    <meta charset="utf-8">

    <title>Pay My Buddy Transfer</title>
</head>


<body class="h-100;">
<!-- Navigation tab config -->
<nav class="navbar navbar-dark navbar-expand" style="background-color: #e9ecef">
    <div class="container">
        <div class="navbar-brand bg-success" style="padding: 10px; border-radius: 5px">
            PayMyBuddy
        </div>

        <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <ul class="navbar-nav">

                <li class="nav-item ">
                    <a class="nav-link" style="color: black;font-size: larger;"
                       th:href="@{/homepage}">Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color: black;font-size: larger;"
                       th:href="@{/transfer}">Transfer
                    </a>
                </li>

                <li class="nav-item">
                    <a  class="nav-link " style="color: black;font-size:
                    larger;"
                        th:href="@{/profile}">Profile
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link "  style="color: black;font-size: larger;"
                       href="mailto:admin@paymybuddy.com">Contact
                    </a>
                </li>

                <li class="nav-item">
                    <a sec.authorize="isAuthenticated()" class="nav-link" style="color: black; font-size: larger;"
                       th:href="@{/login}">Log off
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


    <div class="container h-100">
        <!-- Welcome + firstname User-->
        <h1 class="text-success fw-light" >Welcome
            <span class="text-secondary fw-light" th:text="${user}"></span>
        </h1>
        <!-- Section Balance -->
        <div class="h-100" style="background-color: #F5F5F5; ">
            <h2 class="text-success fw-light"> Balance:
                <span class="text-secondary fw-light" th:text="${balance}"></span>
                <span class="text-secondary fw-light">€</span>
            </h2>
        </div>
        <br>

        <!-- Section Add Contact -->

        <div align="center">
            <form  method="post" th:action="@{/saveContact}">
                <div class="col ">
                    <div class="row">
                        <div align="left">
                            <h4 class="text-dark">
                                Send Money
                            </h4>
                        </div>
                        <div class="col">
                            <select th:name="idContact" class="form-select">
                                <option>Select new Contact</option>
                                <option th:each="user : ${userAddContact}"
                                        th:text="${user.getFirstName()+' '+user.getLastName()}"
                                        th:value="${user.getId()}">
                                </option>
                            </select>
                            <button class="btn btn-primary" style="display: block; float: right;
                                    margin-right: 25px" type="submit">Add Contact
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--Section Send Money-->
        <div align="center">
        <div class="row bg-light p-3 m-2">
            <div class="col">
                <div class="container h-100">
                    <form class="justify-content-center" action="#" method="POST"
                          th:action="@{/transaction/save}"
                          th:object="${transactions}">
                         <!--Filling fiel contact transaction -->
                        <div class="row">
                            <!-- Selector for contact transaction-->
                                <div class="col" style=" top: 5px">
                                    <select class="form-select" th:name="emailContact">
                                        <option selected>Select a Contact
                                        <option
                                                th:each="contact : ${contacts}"
                                                th:text="${contact.getUserContact().getFirstName()+ ' '+contact.getUserContact().getLastName()}"
                                                th:value="${contact.getUserContact().getEmail()}">
                                        </option >
                                    </select>
                                </div>


                            <!-- Selector amount to contact transaction-->
                            <div class="col input-group">
                                <input class="form-control" placeholder="Amount" th:name="amount"type="number">
                                <span class="input-group-text">€</span>
                            </div>
                            <!-- Champ Description-->
                            <div class="col">
                                <input class="form-control" placeholder="Description" th:name="description"
                                        type="text">
                            </div>
                            <!-- Pay Bouton -->
                            <div class="col text-center">
                                <button class="col-10 btn btn-success " type="submit">
                                    Pay
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>


        <!-- Table of transaction -->

        <hr class="text-white">
        <div class="row">
            <h4 class=" text-dark " style="margin-left:25px; margin-bottom: -10px;">My transactions</h4>
        </div>


        <hr class="text-white">
        <div class="row justify-content-center">
            <div class="col-12">
                <table class="table table-secondary table-bordered table-striped table-hover text-center">
                    <thead class="table-success">
                    <tr>
                        <th class="text-center">Date</th>
                        <th class="text-center">Contacts</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transaction : ${transactions}">
                        <td th:text="${transaction.getDate()}"></td>
                        <td th:text="${transaction.getRecipientUser().getFirstName() + ' '+ transaction.getRecipientUser().getLastName()}"></td>
                        <td th:text="${transaction.getAmountTransaction()}+'€'"></td>
                        <td th:text="${transaction.getDescription()}"></td>

                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>


</body>
</html>